
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

* {
  margin: 0;
  padding: 0;

}

body{
  background-image: url('https://pre00.deviantart.net/d1b5/th/pre/f/2011/292/9/9/tron_grid_wallpaper_1680x1050_by_sarah_hextall_design-d4dajzv.jpg');
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}


h1{
  font-size: 60pt;
  text-align: center;
  color: white;
  font-family: neon;
  padding-top: 5px;
}

#container{
  margin-top: 70px;
  display: block;
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}




#wrapper {

  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  border-radius: 20px;
  box-shadow: 0 0 .25vw #1041FF, 0 0 .75w #1041FF, 0 0 2.5vw #1041FF, 0 0 2.5vw #1041FF, 0 0 .1vw #8BFDFE;

}

.space{
  border-color: rgba(35, 194, 230, 0.747);

  border-style: ridge;
  border-width: 5px;
  font-size: 90px;
  text-align: center;
  padding-top: 20px;
  font-family: neon;

}





body{
  background-color: black;
}

#winBox{

  display: block;
  height: 100px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-size: 50pt;
  text-align: center;
  padding-top: 15px;
  border-radius: 10px;


}

#menu{
  text-align: center;
  height: 70px;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}


#reset{
  height: 80px;
  width: 200px;
  // margin-right: auto;
  // margin-left: auto;
  // margin-top: 30px;
  font-size: 35pt;
  text-align: center;
  border-radius: 10px;
  font-family: neon;
  display: inline-block;

}


#signIn{
  display: block;
  height: 80px;
  width: 300px;
  float: left;
}

#signOut{
  display: block;
  height: 80px;
  width: 300px;
  float: right;
  visibility: hidden;
}



#xScores{
  display: block;
  font-size: 45pt;
  font-family: neon;
  float: left;
  bottom: 200px;
  margin-left: 2%;

}

#oScores{
  display: block;
  font-size: 45pt;
  font-family: neon;
  float: right;
  bottom: 200px;
  margin-right: 50px;

}

#title{
  font-size: 60px;
}



#B0{
  border-top-left-radius: 20px;
  border-bottom-width: 2.5px;
  border-right-width: 2.5px;
}
#B1{
  border-bottom-width: 2.5px;
  border-right-width: 2.5px;
  border-left-width: 2.5px;
}

#B2{
  border-top-right-radius: 20px;
  border-bottom-width: 2.5px;
  border-left-width: 2.5px;

}
#B3{
  border-bottom-width: 2.5px;
  border-top-width: 2.5px;
  border-right-width: 2.5px;

}
#B4{
  border-bottom-width: 2.5px;
  border-top-width: 2.5px;
  border-right-width: 2.5px;
  border-left-width: 2.5px;
}
#B5{
  border-bottom-width: 2.5px;
  border-top-width: 2.5px;
  border-left-width: 2.5px;
}
#B6{
  border-bottom-left-radius: 20px;
  border-top-width: 2.5px;
  border-right-width: 2.5px;


}

#B7{
  border-top-width: 2.5px;
  border-right-width: 2.5px;
  border-left-width: 2.5px;
}

#B8{
  border-bottom-right-radius: 20px;
  border-top-width: 2.5px;
  border-left-width: 2.5px;

}


.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 30pt;
  // line-height: 9vw;
  text-shadow: 0 0 0vw #F40A35;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 0vw #2356FF;
}

.neon {
  animation: neon 3s ease infinite;
  -moz-animation: neon 3s ease infinite;
  -webkit-animation: neon 3s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

//modal secion

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

.outModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  border-color: rgba(35, 194, 230, 0.747);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  width: 65%; /* Could be more or less, depending on screen size */
  height: 350px;
  border-radius: 10px;
}

.out-modal-content {
  background-color: black;
  border-color: rgba(35, 194, 230, 0.747);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  width: 65%; /* Could be more or less, depending on screen size */
  height: 350px;
  border-radius: 10px;
}
/* The Close Button */
.close {
  color: orange;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: rgba(255, 166, 0, 0.568);
  text-decoration: none;
  cursor: pointer;
}

legend{
  font-family: neon;
  color: rgba(35, 194, 230, 0.747);
  font-size: 30pt;
}

#info{
  float: right;
  height: 20px;
  width: 50px;
  color: white;
}

fieldset{
  font-size: 17pt;
  font-family: arial;
}


//end of modal
